<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
  {% for group in user.groups.all%}
    {% if group.name == "Customers" %}
  <div class="container">
    <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-tabs">
        <li class="nav-item"><h2><a href="{% url 'customers:index' %}" class="nav-link text-dark">Home</a> </h2></li>
        <li class="nav-item"><h2><a href="{% url 'customers:pickup_day' %}" class="nav-link text-dark">Change Pickup Day</a> </h2></li>
        <li class="nav-item"><h2><a href="{% url 'customers:suspend_pickup' %}" class="nav-link text-dark">Suspend Pickup</a> </h2></li>
    </ul>
    </header>
  </div>
    {% elif group.name == "Employees" %}
  <div class="container">
    <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-tabs">
        <li class="nav-item"><h2><a href="{% url 'employees:index' %}" class="nav-link text-dark">Home</a> </h2></li>
        <li class="nav-item"><h2><a href="{% url 'employees:filter_pickups' %}" class="nav-link text-dark">Change Pickup Day</a> </h2></li>
    </ul>
    </header>
  </div>
    {% endif %}
  {% endfor %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% endif %}
  <main>
    <h1>{% block header %} {% endblock %}</h1>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
{# This is the parent template that should be extended by any other view you create #}
{# Todo: Add navbar links, link to stylesheets, style layout #}